## Programming Assignment 5
## Alex Smith
## Fall 2021

## Translator

In [2]:
translator={'hello' : 'hola',
           'cat' : 'gato',
           'dog' : 'pero',
           'cup' : 'taza',
           'horse' : 'caballo',
           'orange' : 'naranja',
           'red' : 'rojo',
           'pencil' : 'lápiz',
           'computer' : 'computadora',
           'couch' : 'sofá',
           'pumpkin' : 'calabaza',
           'bird' : 'pájaro',
           'table' : 'mesa',
           'phone' : 'teléfono',
           'candle' : 'vela',
           'fork' : 'tenedor',
           'knife' : 'cuchillo',
           'bottle' : 'botella',
           'blanket' : 'manta',
           'water' : 'agua'}

english = str()

while english != '0':
    english = str(input('Enter a work to translate from English to Spanish (Enter 0 to stop):'))
    
    if english !='0':
        print('The Spanish word for {} is {}.'.format(english,(translator.get(english,'not in this dictionary'))))
        
    else:
        exit()

Enter a work to translate from English to Spanish (Enter 0 to stop):hello
The Spanish word for hello is hola.
Enter a work to translate from English to Spanish (Enter 0 to stop):water
The Spanish word for water is agua.
Enter a work to translate from English to Spanish (Enter 0 to stop):0

## Farenheit to Celcius

In [6]:
weather={1 : 86,
        2 : 83,
        3 : 82,
        4 : 80,
        5 : 83,
        6 : 79,
        7 : 83,
        8 : 81,
        9 : 80,
        10 : 76,
        11 : 70,
        12 : 71,
        13 : 73,
        14 : 71,
        15 : 70,
        16 : 73,
        17 : 77,
        18 : 75,
        19 : 80,
        20 : 85,
        21 : 87,
        22 : 88,
        23 : 83,
        24 : 79,
        25 : 83,
        26 : 82,
        27 : 80,
        28 : 76,
        29 : 75,
        30 : 77}
weather = {day : (5/9)*(temp-32) for (day, temp) in weather.items()}
print(weather)

{1: 30.0, 2: 28.333333333333336, 3: 27.77777777777778, 4: 26.666666666666668, 5: 28.333333333333336, 6: 26.11111111111111, 7: 28.333333333333336, 8: 27.222222222222225, 9: 26.666666666666668, 10: 24.444444444444446, 11: 21.11111111111111, 12: 21.666666666666668, 13: 22.77777777777778, 14: 21.666666666666668, 15: 21.11111111111111, 16: 22.77777777777778, 17: 25.0, 18: 23.88888888888889, 19: 26.666666666666668, 20: 29.444444444444446, 21: 30.555555555555557, 22: 31.111111111111114, 23: 28.333333333333336, 24: 26.11111111111111, 25: 28.333333333333336, 26: 27.77777777777778, 27: 26.666666666666668, 28: 24.444444444444446, 29: 23.88888888888889, 30: 25.0}

In [7]:
x = list(weather.items())
x.sort(key=lambda x: x[1])
print(x)
print(x[0])
print(x[-2])

[(11, 21.11111111111111), (15, 21.11111111111111), (12, 21.666666666666668), (14, 21.666666666666668), (13, 22.77777777777778), (16, 22.77777777777778), (18, 23.88888888888889), (29, 23.88888888888889), (10, 24.444444444444446), (28, 24.444444444444446), (17, 25.0), (30, 25.0), (6, 26.11111111111111), (24, 26.11111111111111), (4, 26.666666666666668), (9, 26.666666666666668), (19, 26.666666666666668), (27, 26.666666666666668), (8, 27.222222222222225), (3, 27.77777777777778), (26, 27.77777777777778), (2, 28.333333333333336), (5, 28.333333333333336), (7, 28.333333333333336), (23, 28.333333333333336), (25, 28.333333333333336), (20, 29.444444444444446), (1, 30.0), (21, 30.555555555555557), (22, 31.111111111111114)]
(11, 21.11111111111111)
(21, 30.555555555555557)

## Symmetric_difference(^)

In [8]:
#Returns elements of each set that are not in common with eachother

set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 2, 8, 9, 10}
set1^set2

{3, 4, 5, 6, 8, 9, 10}

## .isdisjoint()

In [9]:
# returns true if sets have no items in common, false if they do
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {4, 5, 6}
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

False
True

## Intersection_update(&=)

In [10]:
#removes items that are not present in both sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 3, 5, 7}
set1 &= set2
set1

{1, 3, 5}

## Symmetric_difference(^=)

In [11]:
#returns a set that contains all items from each set, except for items present in both sets
set1 = {5, 10, 15, 20, 25, 30}
set2 = {10, 20, 30, 40, 50}
set1 ^= set2
set1

{5, 15, 25, 40, 50}

## .remove(), .discard(), .pop()

In [12]:
#.remove() and .discard() work the same but, discard doesn't generate an error.
#.pop() selects a random element and removes it

setA = {1, 2, 3, 4, 5, 6}

setA.remove(1)
print(setA)
setA.discard(2)
print(setA)
setA.discard(7)
print(setA)

{2, 3, 4, 5, 6}
{3, 4, 5, 6}
{3, 4, 5, 6}

In [13]:
setA.remove(7)

KeyError: 7

In [14]:
setA.pop()
print(setA)

{4, 5, 6}